
:root{
    /* Cores */
    --primaryColor: #298FC2;
    --secondaryColor: #2783C1;
    --thirdColor: #2C3E50;

    --darkColor: #0000;
    --lightColor: #ffffff;


    /* Font */

    --primaryFont: Arial, Helvetica, sans-serif;
}