@import '../../css/variables.css';

.btn-section{
    padding-top: 90px;
    padding-bottom: 40px;
}

.btnText {
    border: none;
    border-radius: 30px;
    padding: 20px 40px;
    color: var(--primaryText);
    background: -webkit-linear-gradient(180deg, var(--primaryColor), var(--secondaryColor));
    font-size: 24px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;

}

.btnText:hover {
    transform: scale(1.1);
}




@media screen and (max-width: 1080px) {
    .btnText {
        padding: 10px 4%;
    }
}
