@import '../../css/variables.css';

.benefit-data {
    border-bottom: 10px solid var(--primaryColor);
    padding-bottom: 10px;
    padding: 20px 4%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h2 {
        font-size: 60px;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        color: var(--darkColor);
    }

    h3 {
        font-size: 45px;
        font-family: "Romantic", sans-serif;
        font-weight: bold;
        color: var(--darkColor);
    }

}

.description {
    p {
        font-size: 40px;
        font-style: italic;
        font-weight: 300;

        b {
            background: -webkit-linear-gradient(180deg, var(--primaryColor), var(--secondaryColor));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal;
            background-clip: text;
        }
    }
}

@media (max-width: 740px){
    .benefit-data{
        margin-top: -20px;
        padding-bottom: 5px;
       
    }
}

@media (min-width: 1080px) {

    .benefit-section {
        flex-direction: row;
    }
}


@media screen and (max-width: 1080px) {

    .benefit-data h2 {
        padding: 0 4%;
        padding-top: 10px;
        text-align: center;
    }

}