@import '../css/variables.css';

.topo-site {
    background-color: var(--primaryColor);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-topo {
        text-align: center;
        padding: 15px 4% 0 4%;

        h1 {
            font-size: 4rem;
            font-family: var(--primaryFont);
            font-weight: bold;
        }

        p {
            margin-bottom: 25px;
            font-size: 1.25rem;
            font-weight: bolder;
        }

        Button {
            padding: 17px 4%;
            border: 0;
            border-radius: 25px;
            font-family: var(--primaryFont);
            font-size: 1rem;

            cursor: pointer;
            transition: 0.2s;
            background-color: var(--lightColor);
        }

        Button:hover {
            transform: scale(1.1);
        }
    }
}

.logo {
    position: absolute;
    background-color: var(--lightColor);
    border: 0;
    padding: 10px;
    border-radius: 50%;
    top: 49%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .imgLogo {
        height: 10vw;
        width: 10vw;
        max-height: 80px;
        max-width: 80px;
    }
}

.title {
    text-align: center;
    margin-top: -15px;

    h1 {
        background-color: var(--lightColor);
        position: relative;
        margin: auto;
        margin-top: 25px;
        padding-bottom: 10px;
        z-index: 2;
        width: 400px;
    }

    hr {
        margin-top: -2px;
        z-index: 0;
    }

    span {
        color: var(--secondaryColor);
    }
}

.sessionCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 90px;
    margin-top: 40px;

    .cardGroup {
        margin: 0 auto;
        flex: 1;

        .custom-card {
            border: 1px solid #707070;
            box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.6);
            border-radius: 15px;
            margin: 10px;
            flex: 1;
            min-width: 300px;
            min-height: 312px;
            max-width: 300px;
            max-height: 312px;



            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding-top: 40px;


            }

            .card-title {
                font-size: 1.25rem;
                font-weight: bold;
                margin: 20px 0;
                color: var(--darkColor);
            }

            .card-text {
                margin-top: 5px;
                font-size: 1rem;
                text-align: center;
                color: var(--darkColor);
            }
        }
    }
}

.benefit-section {
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-section {
    height: 500px;
    background-color: var(--thirdColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20%;

    .robo {
        display: flex;
        justify-content: center;
        align-items: center;

        .roboImg {
            max-height: 368px;
            max-width: 368px;
        }
    }
}

.sectionCardComments{
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .logo {
        top: 40%;
    }

    .imgLogo {
        height: 14vw;
        width: 14vw;
        max-height: 50px;
        max-width: 50px;
    }
    
}

@media (min-width: 1080px) {

    .benefit-section {
        flex-direction: column;
    }

}

@media screen and (max-width: 1080px) {

    .benefit-data h2 {
        padding: 0 4%;
        text-align: center;
    }

    .form-section{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        height: 700px;
    }

    .robo {
        
        .roboImg {
            height: 200px;
            width: 200px;
        }
    }

    .sectionCardComments{
        flex-direction: column;
    }

}

