@import '../css/variables.css';

.container {
    padding: 20px;
}


.topo-site {
    background-color: var(--primaryColor);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-topo {
        text-align: center;
        padding: 15px 4% 0 4%;

        h1 {
            font-size: 4rem;
            font-family: var(--primaryFont);
            font-weight: bold;
        }

        p {
            margin-top: -20px;
            font-size: 1.25rem;
            font-weight: bolder;
        }

        Button {
            padding: 17px 4%;
            border: 0;
            border-radius: 25px;
            font-family: var(--primaryFont);
            font-size: 1rem;

            cursor: pointer;
            transition: 0.2s;
        }

        Button:hover {
            transform: scale(1.1);
        }
    }
}

.logo {
    position: absolute;
    background-color: var(--lightColor);
    border: 0;
    padding: 10px;
    border-radius: 50%;
    top: 38%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .imgLogo {
        height: 10vw;
        width: 10vw;
        max-height: 80px;
        max-width: 80px;
    }
}

.title {
    text-align: center;
    margin-top: -15px;

    h1 {
        background-color: var(--lightColor);
        position: relative;
        margin: auto;
        margin-top: 25px;
        padding-bottom: 10px;
        z-index: 2;
        width: 400px;
    }

    hr {
        margin-top: -2px;
        z-index: 0;
    }

    span {
        color: var(--secondaryColor);
    }
}

.sessionCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 90px;
    margin-top: 40px;

    .cardGroup {
        margin: 0 auto;
        flex: 1;

        .custom-card {
            border: 1px solid #707070;
            box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.6);
            border-radius: 15px;
            margin: 10px;
            flex: 1;
            min-width: 300px;
            min-height: 312px;
            max-width: 300px;
            max-height: 312px;



            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding-top: 40px;


            }

            .card-title {
                font-size: 1.25rem;
                font-weight: bold;
                margin: 20px 0;
            }

            .card-text {
                margin-top: 5px;
                font-size: 1rem;
                text-align: center;
            }
        }
    }
}

.benefit-section {
    display: flex;
    flex-direction: block;
    align-items: center;
    justify-content: center;

    gap: 70px;

    .benefit-data {
        border-bottom: 10px solid var(--primaryColor);
        padding-bottom: 40px;

        h2 {
            font-size: 60px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            color: var(--darkColor);
        }
    }

    p {
        font-size: 40px;
        font-style: italic;
        font-weight: 300;

        b {
            background: -webkit-linear-gradient(180deg, var(--primaryColor), var(--secondaryColor));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal;
            background-clip: text;
        }
    }
}

.cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-section {
    height: 500px;
    background-color: var(--thirdColor);
    display: flex;
    justify-content: center;
    gap: 20%;

    .robo {
        display: flex;
        justify-content: center;
        align-items: center;

        .roboImg {
            max-height: 368px;
            max-width: 368px;
        }
    }
}

.formGroup {
    display: flex;
    justify-content: left;
}

.form {
    color: var(--lightColor);
    /* margin: auto; */

    h1 {
        text-align: center;
        margin: 40px;
    }

    p {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .formOrcamento {
        align-items: center;
        border-radius: 10px;
        padding: 10px;
        margin-top: 5px;

        .FormControlOrcamento {
            padding: 10px 4%;
            background-color: var(--fourthColor);
            border-radius: 30px;
            height: 59px;
            width: 371px;
        }
    }

    .formOrcamento input::placeholder {
        color: white;
        font-size: 22.5px;
        text-align: start;
    }

    .btnSession {
        display: flex;
        justify-content: center;
        text-align: center;

        margin-top: 2px;

        .btnOrcamento {
            height: 44px;
            width: 165px;
            color: var(--secondaryColor);
            background-color: #FFFFFF;

            text-align: center;
            font-size: 18px;
            border: 0;
            border-radius: 26px;
        }
    }

}

.section-cards{
    height: 600px;
}

@media (max-width: 480px) {
    .logo {
        top: 40%;
    }

    .imgLogo {
        height: 14vw;
        width: 14vw;
        max-height: 50px;
        max-width: 50px;
    }
}