@import "../../../css/variables.css";

.formGroup {
    display: flex;
    justify-content: center;

    p{
        padding: 0 2%;
    }
}

.form {
    color: var(--lightColor);
    max-width: 600px;
    width: 100%;


    h1 {
        text-align: center;
        margin: 40px;
    }

    p {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .formOrcamento {
        align-items: center;
        border-radius: 10px;
        padding: 10px;
        margin-top: 5px;

        .FormControlOrcamento {
            padding: 10px 4%;
            background-color: var(--fourthColor);
            border-radius: 30px;
            height: 59px;
            width: 371px;
        }
    }
}

@media screen and (max-width: 1080px) {
    .formGroup{
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .form{
        h1 {
            margin: 0;
            margin-top: -150px;
        }

        p{
            padding: 20px 2%;
        }
    }

    .form-input{
        width: 100%;
        max-width: 200px;
    }
}