@import '../../../css/variables.css';

.btn-section{
    padding-top: 90px;
    padding-bottom: 40px;
}

.btn {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px 40px;
    color: var(--primaryText);
    background: -webkit-linear-gradient(180deg, var(--primaryColor), var(--secondaryColor));
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 1080px) {
    .btn {
        padding: 10px 4%;
    }
}
