@import "../../css/variables.css";

.rating{
    margin-top: 10px;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--thirdColor);
}

.card{
    cursor: pointer;
    transition: transform 0.06s;
    transform-style: preserve-3d;
    position: relative;
}

.card:hover{
    transform: rotateY(180deg);
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}

.card .back{
    transform: rotateY(180deg);
}