@import '../../css/variables.css';

.btnSession {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    padding-top: 12px;
}

.btnOrcamento {
    height: 44px;
    width: 165px;
    color: var(--secondaryColor);
    background-color: #FFFFFF;

    text-align: center;
    font-size: 18px;
    border: 0;
    border-radius: 26px;

    cursor: pointer;
    transition: 0.2s;
}

.btnOrcamento:hover{
    transform: scale(1.1);
}


